<!DOCTYPE html>
<html>
  <head>
    <title>Player Info</title>
  </head>

  <body>
    <h1>Player Info</h1>
    <form method="post" action="{{ url_for('show_items') }}">
      {{ form.hidden_tag() }}

      <div>
        {{ form.name.label }} {{ form.name(size=30) }}
        {% for error in form.name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div>
        {{ form.language.label }} {{ form.language(size=30) }}
        {% for error in form.language.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div>
        {{ form.category.label }}
        <br>
        {% for subfield in form.category %}
        {{ subfield }} {{ subfield.label }}
        <br>
        {% endfor %}
        {% for error in form.category.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div>
        {{ form.submit }}
      </div>

    </form>
  </body>
</html>